html{
    transition: all .3s;
    position: relative;
    scroll-behavior: smooth;
}
// Header
header{
    z-index: 20;
    &.changeHeight{
        transition: all ease-in-out .2s;
        border-bottom: 1px solid #DADCDD;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    }
    nav{
        ul{
            li{
                a{
                    span{
                        transition: all ease-in-out .2s;
                    }
                    i{
                        transition: transform .2s;
                    }
                    &.active{
                        span{
                            color: #2D3235;
                        }
                        i{
                            transform: rotate(180deg); // rotate the arrow 180 degrees
                        }
                    }
                }
            }
        }
    }
    .js-area-dropdown{
        z-index: 2023;
        opacity: 0;
        pointer-events: none;
        transition: all .3s;
        border-radius: 6px;
        -webkit-box-shadow: 1px 11px 95px -8px rgba(166,166,166,1);
        -moz-box-shadow: 1px 11px 95px -8px rgba(166,166,166,1);
        box-shadow: 1px 11px 95px -8px rgba(166,166,166,1);
        &.active{
            opacity: 1;
            pointer-events: all;
            z-index: 2000;
        }
    }
    #menu-dropdown-item:hover{
        a::before{
            opacity: 1;
            -webkit-transition: all ease-in-out .3s;
            -o-transition: all ease-in-out .3s;
            transition: all ease-in-out .3s;
        }
    }
}
.breadcrumbs-list{
    li{
        position: relative;
        &:not(:last-child){
            &:after{
                content: "";
                position: absolute;
                right: -20px;
                top: 18px;
                width: 10px;
                height: 10px;
                background: url("../../assets/icon-arrow-right.svg") no-repeat center center;
            }
        }
    }
}
.content-text{
    width: 100%;
    overflow-x:auto !important;
    display: flex;
    flex-direction: column;
    strong{
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;
        color: #030E15;
        margin-right: 3px;
        margin-bottom: 15px;
    }
    a{
        color: #C20023;
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        &:hover{
            text-decoration: underline;
        }
    }
    h1,
    h2,
    h3,
    h4, 
    h5,
    h6{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 120%;
        color: #030E15;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    h3{
        font-size: 24px;
    }
    h4, h5{
        font-size: 20px;
    }
    h6{
        font-size: 18px;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: #030E15;
        margin-bottom: 10px;
        a{
            color: #C20023;
            font-family: 'Roboto',sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    ul{
        margin-top: 15px;
        margin-bottom: 20px;
        li{
            margin-bottom: 5px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            color: #030E15;
            display: flex;
            align-items: center;
            justify-items: flex-start;
            p{
                margin-bottom: 0px;
            }
            a{
                color: #C20023;
                font-family: 'Roboto',sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                &:hover{
                    text-decoration: underline;
                }
            }
            &:before{
                content: "";
                min-width: 4px;
                min-height: 4px;
                display: inline-block;
                background-color: #030E15;
                margin-right: 10px;
                transition: all .3s;
            }
        }
    }
                
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    label{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #030E15;
        display: inline-block;
        padding-bottom: 5px;
        a{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #030E15;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    textarea{
        width: 100%;
        border: 1px solid #CED4DA;
        border-radius: 8px;
        padding: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: rgba(52, 58, 64, 0.8);
        resize: none;
    }
    input{
        width: 100%;
        max-width: 290px;
        border: 1px solid #CED4DA;
        border-radius: 8px;
        padding: 13px 20px;
    }
    @media (max-width: 976px){
        input{
            max-width: 100%;
            
        }
    }
}
// FORM
.wpcf7-form{
    div{
        br{
            display:none;
            pointer-events: none;
        }
        label{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #030E15;
            display: inline-block;
            padding-bottom: 5px;
            a{
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: #030E15;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        textarea{
            width: 100%;
            border: 1px solid #CED4DA;
            border-radius: 8px;
            padding: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: rgba(52, 58, 64, 0.8);
            resize: none;
        }
        input{
            width: 100%;
            max-width: 290px;
            border: 1px solid #CED4DA;
            border-radius: 8px;
            padding: 13px 20px;
        }
        .wpcf7-submit{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 28px;
            border-radius: 4px;
            color: #fff;
            text-align: center;
            font-size: 14px;
            align-items: center;
            gap: 1rem;
            transition: color .3s, background-color .3s;
            font-weight: 700;
            text-transform: uppercase;
            background-color: #dc3232;
            cursor: pointer;
        }
    }
    #btn-submit{
        grid-row-start: 5;
    }
    .wpcf7-form-control-wrap{
        .wpcf7-not-valid-tip{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            display: block;
            margin-top: 10px;
        }
    }
    // Responsive 
    @media (max-width: 480px){
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    .wpcf7-response-output{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        height: 100%;
        max-height: 100px;
        margin-left: 0px;
        border: 0px;
    }
    &.sent{
        .wpcf7-response-output{
            color: green;
            padding: 10px 15px;
            background-color: #99f899;
    }
    }
    &.invalid{
        .wpcf7-response-output{
            padding-top: 10px;
            color: white;
            background-color: #dc3232;
            border: none;
        }
    }
    .wpcf7-spinner{
        display: none;
        pointer-events: none;
    }
}
// MODAL POP UP
.modal-cta-form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; // hide with opacity otherwise we can not make the transition with modal
    pointer-events: none; // cancel click area
    transition: opacity .3s;
    z-index: 3001;
    .overlay{
        position: fixed; // does not apply the display flex
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.25);
    }
    .box{
        position: relative;
        z-index: 1;
        // to go down to make transition up
        transform: translateY(50px);
        transition: transform .3s;
        .box-content{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            scroll-behavior: smooth;
            // customize the bar y
            &::-webkit-scrollbar-track{
                // the whole area
                background-color: transparent;
            }
            &::-webkit-scrollbar{
                width: 0.5rem;
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb{
                // the scrollbar itself
                background-color: gray;
                border-radius: 0.5rem;
            }
            .box-content-body{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
// SHOW MODAL CLASS
.show-modal{
    .modal-cta-form{
        opacity: 1;
        pointer-events: all;
        .box{
            transform: translateY(0px);
        }
    }
}
#insurance-types{
    scroll-margin-top: 150px;
}
#mobile-menu-content{
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
    height: 100%;
    transition: all .2s;
    min-height: calc(60vh - 80px);
    ul{
        overflow-y: auto;
        //height: 100%;
        transition: all .2s;
    }
    // customize the bar y
    &::-webkit-scrollbar-track{
        // the whole area
        background-color: transparent;
    }
    &::-webkit-scrollbar{
        width: 6px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        // the scrollbar itself
        background-color:#C20023;
        border-radius: 6px;
    }
}
// Configuration for menu mobile open
.menu-opened{
    overflow-y: hidden;
    html, body{
        overflow-y: hidden;
    }
    header{
        #mobile-menu-content{
            opacity: 1;
            pointer-events: all;
            transition: all .2s;
        }
    }
}
@media (min-width: 976px) and (max-width:1150px){
    #hero-right-div{
        #hero-right-car-image{
            right: 20px;
        }
    }
}
@media (min-width: 1800px){
    #hero-right-div{
        #hero-right-bg-image{
            right: 200px;
        }
        #hero-right-car-image{
            right: 200px;
        }
    }
}
@media (min-width: 2200px){
    #hero-right-div{
        #hero-right-bg-image{
            right: 350px;
        }
        #hero-right-car-image{
            right: 350px;
        }
    }

}
@media (max-width:1415px){
    #square-svg{
        display: none;
    }
}